#
# Copyright (C) 2024-2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#
dontaudit vendor_init system_mtk_fd_prop:property_service set;
